body{
    margin: auto;
    text-align: center;
    background-color: peachpuff;
    font-family: 'Times New Roman', Times, serif;
}

.cim{
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}

.pizzakep{
    border-color: black;
}


