body{
    margin: auto;
    text-align: center;
    background-color: peachpuff;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(https://imgs.search.brave.com/4TGdH5Eoxo3FxjOmlMU8bAebwEWc8DFnyJlY4lKkRgA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/aWtlYS5jb20vaHUv/aHUvaW1hZ2VzL3By/b2R1Y3RzL3Nhbm5h/aGVkLWtlcGtlcmV0/LWZla2V0ZV9fMDgz/NTUxN19wZTc3ODQ1/MF9zNS5qcGc_Zj14/eHM);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    align-self: center;
    align-content: center;
}

.cim{
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}

.nyitvatart{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    
    
}

form {
    background-color: transparent; 
    padding: 20px;
    width: 400px;
    margin: auto;
    margin-top: 110px;
    text-align: center; 
}

input, select {
    height: 40px;
    font-size: 16px;
    padding: 5px;
    border: none; 
    border-bottom: 1px solid #000; 
    background-color: transparent; 
    text-align: center; 
    outline: none; 
    width: 100%; 
}

